Repository lucasvtiradentes/cscan: changes, and which lint-staged commands are due for each by the changed paths.
All: biome format --write, sh -c 'cd packages/cscan-core && cargo fmt'

docs: update readme
  README.md
  packages/cscan-core/README.md
  packages/vscode-extension/README.md
  packages/vscode-extension/src/common/constants.ts
  packages/vscode-extension/src/common/lib/scanner.ts
Due: biome format --write

feat: add cscan cli
  .changeset/config.json
  .changeset/eleven-jokes-roll.md
  .github/workflows/push-to-main.yml
  .gitignore
  .npmrc
  biome.json
  packages/cli/README.md
  packages/cli/npm/darwin-arm64/package.json
  packages/cli/npm/darwin-x64/package.json
  packages/cli/npm/linux-arm64/package.json
  packages/cli/npm/linux-x64/package.json
  packages/cli/npm/win32-x64/package.json
  packages/cli/package.json
  packages/cli/scripts/copy-binaries.sh
  packages/cli/scripts/postinstall.ts
  packages/cli/src/cscan.ts
  packages/cli/tsconfig.json
  packages/cscan-core/crates/cscan_cli/Cargo.toml
  packages/cscan-core/crates/cscan_cli/README.md
  packages/cscan-core/crates/cscan_cli/src/main.rs
  packages/cscan-core/crates/cscan_core/src/config.rs
  packages/cscan-core/scripts/build-binaries.sh
  packages/vscode-extension/.vscodeignore
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/release.sh
Due: biome format --write, sh -c 'cd packages/cscan-core && cargo fmt'

fix: use workspace:* for platform packages
  packages/cli/package.json
  pnpm-lock.yaml
Due: biome format --write

fix: post install
  packages/cli/package.json
  packages/cli/scripts/postinstall.ts
  packages/cli/scripts/safe-postinstall.ts
  pnpm-lock.yaml
Due: biome format --write

fix: ci error
  .changeset/sweet-doors-worry.md
  .github/workflows/callable-ci.yml
Due: none

fix: ci error
  .github/workflows/callable-ci.yml
  .github/workflows/push-to-main.yml
Due: none

chore: version bump to 2.0.6
  packages/cli/CHANGELOG.md
  packages/cli/npm/cli-darwin-arm64/CHANGELOG.md
  packages/cli/npm/cli-darwin-arm64/package.json
  packages/cli/npm/cli-darwin-x64/CHANGELOG.md
  packages/cli/npm/cli-darwin-x64/package.json
  packages/cli/npm/cli-linux-arm64/CHANGELOG.md
  packages/cli/npm/cli-linux-arm64/package.json
  packages/cli/npm/cli-linux-x64/CHANGELOG.md
  packages/cli/npm/cli-linux-x64/package.json
  packages/cli/npm/cli-win32-x64/CHANGELOG.md
  packages/cli/npm/cli-win32-x64/package.json
  packages/cli/package.json
Due: biome format --write

fix: ci error
  .changeset/tasty-oranges-shake.md
Due: none

fix: ci error
  .changeset/config.json
  .changeset/rich-beds-buy.md
Due: biome format --write

fix: update platform package names to @cscanner/cli-* in cscanner.ts
  packages/cli/src/cscanner.ts
Due: biome format --write

refactor: add vscode util function
  packages/vscode-extension/src/commands/find-issue.ts
  packages/vscode-extension/src/commands/issue-navigation.ts
  packages/vscode-extension/src/commands/manage-rules.ts
  packages/vscode-extension/src/commands/navigation.ts
  packages/vscode-extension/src/commands/scan.ts
  packages/vscode-extension/src/commands/settings.ts
  packages/vscode-extension/src/commands/show-logs.ts
  packages/vscode-extension/src/sidebar/search-provider.ts
Due: biome format --write

refactor: install local script
  .changeset/cozy-candles-agree.md
  packages/vscode-extension/package.json
  packages/vscode-extension/scripts/install-local.ts
  packages/vscode-extension/scripts/setup-rust-binary.ts
  packages/vscode-extension/src/commands/navigation.ts
Due: biome format --write

chor: update constants
  packages/core/crates/core/src/constants.rs
Due: none

chore: update configuration for Rust cache setup
  .github/actions/build-rust-binary/action.yml
  .github/workflows/callable-ci.yml
Due: none

fix: ci error
  .changeset/gentle-ghosts-chew.md
  packages/cli/CHANGELOG.md
  packages/cli/npm/cli-darwin-arm64/CHANGELOG.md
  packages/cli/npm/cli-darwin-arm64/package.json
  packages/cli/npm/cli-darwin-x64/CHANGELOG.md
  packages/cli/npm/cli-darwin-x64/package.json
  packages/cli/npm/cli-linux-arm64/CHANGELOG.md
  packages/cli/npm/cli-linux-arm64/package.json
  packages/cli/npm/cli-linux-x64/CHANGELOG.md
  packages/cli/npm/cli-linux-x64/package.json
  packages/cli/npm/cli-win32-x64/CHANGELOG.md
  packages/cli/npm/cli-win32-x64/package.json
  packages/cli/package.json
  packages/vscode-extension/CHANGELOG.md
  packages/vscode-extension/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome format --write

fix: logs
  packages/core/crates/cli/src/main.rs
  packages/core/crates/core/src/logger.rs
  packages/core/crates/server/src/main.rs
  packages/vscode-extension/src/common/utils/logger.ts
Due: biome format --write

fix: cli command
  package.json
  packages/vscode-extension/src/common/types.ts
Due: biome format --write

fix: failing pipeline due to no rust tests
  packages/core/package.json
Due: biome format --write

Path conditions:
  biome format --write: any of: *.{ts,tsx,js,jsx,json}
  sh -c 'cd packages/cscan-core && cargo fmt': any of: packages/cscan-core/**/*.rs
